<p id="notice"><%= notice %></p>

<h1>Bowl Matchups</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Bowl game</th>
      <th>Away team</th>
      <th>Home team</th>
      <th>Home team point spread</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bowl_matchups.each do |bowl_matchup| %>
      <tr>
        <td><%= bowl_matchup.year %></td>
        <td><%= bowl_matchup.bowl_game %></td>
        <td><%= bowl_matchup.away_team %></td>
        <td><%= bowl_matchup.home_team %></td>
        <td><%= bowl_matchup.home_team_point_spread %></td>
        <td><%= link_to 'Show', bowl_matchup %></td>
        <td><%= link_to 'Edit', edit_bowl_matchup_path(bowl_matchup) %></td>
        <td><%= link_to 'Destroy', bowl_matchup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bowl Matchup', new_bowl_matchup_path %>
