<h1>New Bowl Matchup</h1>

<%= form_with model: @bowl_matchup, local: true do |form| %>

  <% if @bowl_matchup.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@bowl_matchup.errors.count, "error") %> prohibited
        this bowl matchup from being saved:
      </h2>
      <ul>
        <% @bowl_matchup.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :year %><br>
    <%= form.number_field :year %>
  </p>

  <p>
    <%= form.label :bowl_game %><br>
    <%= collection_select :bowl_matchup, :bowl_game_id, BowlGame.all, :id, :name %>
  </p>

  <p>
    <%= form.label :away_team %><br>
    <%= collection_select :bowl_matchup, :away_team_id, Team.all, :id, :name %>
  </p>

  <p>
    <%= form.label :home_team %><br>
    <%= collection_select :bowl_matchup, :home_team_id, Team.all, :id, :name %>
  </p>

  <p>
    <%= form.label :home_team_point_spread %><br>
    <%= form.number_field :home_team_point_spread %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', bowl_matchups_path %>
